@import '../../assets/styles/colors';

.searchHeader {
  position: relative;
  padding: 30px 30px 40px;
  font-size: 48px;
  line-height: 1.2;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:before {
    position: absolute;
    left: 30px;
    bottom: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: $black;
    width: calc(100% - 60px);
    content: '';
  }

  & > span {
    font-weight: 500;
  }
}